.delivery-summary {
  -webkit-box-orient: horizontal;
  background: #292b33f2;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  padding: 1rem 20px;
}

.delivery-options {
  width: 100%;
}

.delivery-summary-home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
}

.delivery-summary-total {
  background: #ededed;
  padding: 1.4rem;
}

.table {
  width: 100%;
  /* table-layout: fixed; */
  /* display: block; */
  /* overflow-x: auto; */
  /* table-layout: fixed; */
  /* white-space: nowrap; */
}

@media (min-width: 375px) and (max-width: 1200px) {
  th {
    display: none;
  }

  td {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto auto;
    padding: 0.5rem 1rem;
  }

  /* td:first-child {
    padding-top: 1rem;
  } */

  td:last-child {
    padding-bottom: 2rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }

  /* td::after {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  } */

  .delivery-summary-total {
    margin: auto;
  }

  /* td:nth-of-type(1)::before {
    content: "Name";
  } */

  .delete-button {
    width: 14ch;
  }
}
