.navbar-row {
  justify-content: center;
  justify-items: center;
}

.sidebar {
  margin-top: 10px;
}

.gamezone-logo {
  /* margin-right: 6rem;s */
  width: 120px;
}

.user-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 375px) {
  /* .gamezone-logo {
    width: 80px;
  } */

  .sign-in-button {
    display: none;
  }

  .sign-up-button {
    display: none;
  }
}
