.gamezone-logo {
  /* margin-right: 6rem; */
  width: 120px;
}

.user-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 375px) {
  /* .gamezone-logo {
    width: 80px;
  } */

  .sign-in-button {
    display: none;
  }

  .sign-up-button {
    display: none;
  }
}
