.menu-header-container {
  /* box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08); */
  width: 100%;
}

.menu-header-container .menu-header-label {
  /* padding: 1.25rem 1.5rem; */
  padding: 0.25rem 2rem;
  position: relative;
}

.menu-header-label {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  top: 13px;
  margin-bottom: 0;
}

.sidebar-menu {
  flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar-menu::-webkit-scrollbar {
  display: none;
}

.menu-button {
  /* OLD */
  /* margin-left: 2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0;
  font-size: 25px;
  line-height: 1;
  padding: 0; */

  /* NEW */
  margin-left: 0rem;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
}

.menu-button:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
  color: #da362c;
}

.FaBars-icon {
  color: #000000;
}

.FaBars-icon:hover {
  text-decoration: none;
  outline: 0;
  /* box-shadow: 0 0 0 0.25rem; */
  color: #da362c;
}

.close-menu-button {
  margin-left: 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 25px;
  line-height: 1;
  padding: 0;
}

.close-button {
  position: absolute;
  right: 1.35rem;
  top: 1.25rem;
  color: #000;
}

.close-button:hover {
  text-decoration: none;
  outline: 0;
  /* box-shadow: 0 0 0 0.25rem; */
  color: #da362c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
}

.close-button:active {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
  color: #da362c;
  border-radius: 0.375rem;
}

.menu-text {
  color: #000;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.04rem;
  display: flex;
}

/* .sidebar-nav {
  background: #15171c;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: ${({ sidebar }) => (sidebar ? '0' : '-100%')};
  transition: 350ms;
  z-index: 10;
} */

.sidebar-wrap {
  width: 100%;
}

.sign-stack-buttons {
  justify-content: center;
}
